.wrapper{
    margin: 3%;
}
.parent{
    display: flex;
    text-align:center;
  }
.title {
    position: relative;
    padding: 1em 2em;
    text-align: center;}
  
.title:before,
.title:after {
position: absolute;
content: '';}
  
.title:after {
top: 0;
left: 0;
width: 50px;
height: 50px;
border-top: 2px solid #000;
border-left: 2px solid #000;}
  
.title:before {
right: 0;
bottom: 0;
width: 50px;
height: 50px;
border-right: 2px solid #000;
border-bottom: 2px solid #000;}
