.title{
  &:first-letter {
    margin-left: 5%;
    font-size: 150%;
    color: #eb6100;
  }
}

.beside{
  margin: 0 5%;
  display: flex;
  .face_img{
    width: 10%;
    height: 10%;
    text-align: center;
  }
  .myName{
    margin-left: 2%;
    font-size: 250%;
    text-align: center;
  }
}