.ta_wrapper{
  margin: 0 7%;

  .main{
    width: 40%;
    height: 40%;

    .juice {
      font-size: 150%;
      position: relative;
      margin-bottom: 2em;
      padding: 1.5rem 2rem;
      border-radius: 10px;
      background: #eee;
      
      &:before,
      &:after {
        position: absolute;
        content: '';
        border-radius: 50%;
        background: #eee; 
      }
      
      &:before {
        bottom: -15px;
        left: 30px;
        width: 30px;
        height: 30px;
      }
      
      &:after {
        bottom: -30px;
        left: 50px;
        width: 15px;
        height: 15px;
      }
    }
    
    .juice_img{
      width: 100%;
      text-align: center;
    }
    
    .soba {
      font-size: 150%;
      position: relative;
      margin-bottom: 2em;
      padding: 1.5rem 2rem;
      border-radius: 10px;
      background: #eee;
       
      &:before,
      &:after {
         position: absolute;
         content: '';
         border-radius: 50%;
         background: #eee;
        }
       
      &:before {
         right: 30px;
         bottom: -15px;
         width: 30px;
         height: 30px;
        }
       
      &:after {
         right: 50px;
         bottom: -30px;
         width: 15px;
         height: 15px;
        }
    }
    
    .soba_img{
      width: 100%;
      text-align: center;
    }
  }
  
  .cen{
    width: 20%;
    height: 40%;
  }
  
}